.home-page-content {
   --background: url('../../../assets/img/banner-dna.png') no-repeat right center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

.home-page-image {
  height: 612.929px;
}
