.login-page-content {
  --background: url('../../../assets/img/banner-erlenmeyer.png') no-repeat right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}