.login-page-content {
  --background: url('../../../assets/img/banner-erlenmeyer.png') no-repeat right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-card {
  margin: 100px auto auto 100px;
  max-width: 350px;
  --background: var(--ion-color-primary-contrast);
  color: var(--ion-color-dark-font);
}