.welcome-page-content {
   --background: url('../../../assets/img/banner-dna.png') no-repeat right center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

.welcome-page-image {
  height: 612.929px;
}

.welcome-page-message {
  position:fixed;
  width: 30em;
  height: 30em;
  top: 100px;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  color: var(--ion-color-light-font);
}