<custom-header *ngIf="title" [title]="title"></custom-header>
<ion-content fullscreen>
    <ion-list lines="none">
        <ion-virtual-scroll [items]="authorPrototype">
            <ion-card class="ion-padding" *virtualItem="let author">
                <ion-grid>
                    <ion-row class="ion-justify-content-between">
                        <ion-col size-sm="6" size-md="5" size-lg="4">
                            <h1 class="ion-no-padding ion-no-margin"><strong>{{ author.name }}</strong></h1>
                        </ion-col>
                        <ion-col class="ion-text-center ion-align-self-end" size-sm="6"
                                 size-md="7" size-lg="8">
                            <div class="badges-container">
                        <span class="badges-item"
                              *ngFor="let termIndex of getTermIndexesForEachAuthor(author)">
                            <ion-badge color="light">
                                {{ termIndex.term + ': ' + termIndex.highlights.length }}
                            </ion-badge>
                            &nbsp;
                        </span>
                            </div>
                        </ion-col>
                    </ion-row>
                    <hr color="tertiary">
                    <ion-row>
                        <ion-col size-sm="6" size-md="5" size-lg="4">
                            <ion-row>
                                <ion-grid>
                                    <ion-row *ngIf="author.latestCountry">
                                        <ion-col>
                                            <p>
                                                <strong>
                                                    {{ author.latestCountry }}
                                                </strong>
                                                based
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf="author.latestInstitution">
                                        <ion-col><p>From <strong>{{ author.latestInstitution }}</strong></p></ion-col>
                                    </ion-row>
                                    <ion-row *ngIf="author.npapers">
                                        <ion-col><p><strong>{{ author.npapers }}</strong> total publications</p></ion-col>
                                    </ion-row>
                                    <ion-row *ngIf="author.lastAuthorCount">
                                        <ion-col><p><strong>{{ author.lastAuthorCount }}</strong> times as last author</p></ion-col>
                                    </ion-row>
                                    <ion-row *ngIf="author.firstAuthorCount">
                                        <ion-col><p><strong>{{ author.firstAuthorCount }}</strong> times as first author</p></ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-row>
                        </ion-col>
                        <ion-col size-sm="6" size-md="7" size-lg="8">
                            <ion-row>
                                <h3>Publications</h3>
                                <hr color="medium">
                                <div *ngFor="let paper of getPapersForEachAuthor(author)">
                                    <ion-item class="ion-no-padding" *ngIf="paper.title"
                                              (click)="openPublication(paper.link)">
                                        <p class="link">{{ paper.title }}</p>
                                    </ion-item>
                                </div>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-virtual-scroll>
    </ion-list>
</ion-content>