<ion-header>
    <ion-toolbar color='primary'>

        <ion-buttons slot="start" text-center>
            <ion-back-button  *ngIf="hasBackbutton" defaultHref="" text=""></ion-back-button>
            <ion-menu-button  *ngIf="!hasBackbutton"></ion-menu-button>
        </ion-buttons>

        <ion-title *ngIf="!title">
            <img src="../../../assets/scitodate-logo.png" class="company-logo" />
        </ion-title>

        <ion-title *ngIf="title">{{ title }}</ion-title>
        <img  *ngIf="title" src="../../../assets/scitodate-logo.png" class="company-logo" slot="end"/>

    </ion-toolbar>
</ion-header>