<ion-card class="ion-no-padding ion-margin">
    <ion-grid class="ion-no-padding ion-margin">
        <ion-row class="ion-justify-content-between">
            <ion-col class="ion-no-padding ion-no-margin" size-sm="6" size-md="5" size-lg="4">
                <ng-content select="[id=authorName]"></ng-content>
            </ion-col>
            <ion-col class="ion-no-padding ion-no-margin ion-text-center ion-align-self-end" size-sm="6" size-md="7" size-lg="8">
                <div class="container">
                    <ng-content select="[id=termIndexes]"></ng-content>
                </div>
            </ion-col>
        </ion-row>
        <hr color="tertiary">
        <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin" size-sm="6" size-md="5" size-lg="4">
                <ion-row>
                    <ng-content select="[id=authorDetails]"></ng-content>
                </ion-row>
            </ion-col>
            <ion-col class="ion-no-padding ion-no-margin" size-sm="6" size-md="7" size-lg="8">
                <ion-row class="paper-details">
                    <ng-content select="[id=papers]"></ng-content>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>