<ion-card no-padding margin>
    <ion-grid no-padding margin>
        <ion-row justify-content-between>
            <ion-col no-padding no-margin size-sm="6" size-md="5" size-lg="4">
                <ng-content select="[id=authorName]"></ng-content>
            </ion-col>
            <ion-col no-padding no-margin size-sm="6" text-center size-md="7" size-lg="8" align-self-end>
                <div class="container">
                    <ng-content select="[id=termIndexes]"></ng-content>
                </div>
            </ion-col>
        </ion-row>
        <hr color="tertiary">
        <ion-row no-padding no-margin>
            <ion-col no-padding no-margin size-sm="5" size-md="4" size-lg="4">
                <ion-row>
                    <ng-content select="[id=authorDetails]"></ng-content>
                </ion-row>
            </ion-col>
            <ion-col no-padding no-margin size-sm="7" size-md="8" size-lg="8">
                <ion-row class="paper-details">
                    <ng-content select="[id=papers]"></ng-content>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>