<ion-split-pane>
    <ion-menu contentId="content">
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title class="menu-logo">
                    <img (click)="goToHomePage()" src="../../../assets/scitodate-logo.png" class="menu-image company-logo" />
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="menu-content">
            <ion-list class="menu-list">
                <ion-menu-toggle [autoHide]="false" *ngFor="let page of pages">
                    <ion-item
                            *ngIf="selectedPath"
                            class="menu-item"
                            [class.active-item]="selectedPath.startsWith(page.url)"
                            [class.inactive-item]="!selectedPath.startsWith(page.url)"
                            [routerLink]="page.url"
                            routerDirection="root">
                        <p>
                            {{page.title}}
                        </p>
                    </ion-item>
                </ion-menu-toggle>
                <div class="menu-list-button">
                    <ion-button fill="clear" (click)="logout()" class="ion-no-padding">
                        <ion-icon color="primary right-margin" name="log-out" (click)="logout()"></ion-icon>
                        Sign out
                    </ion-button>
                </div>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>