.theme-custom {

  @at-root {
    /* lato-regular - latin */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      src: url('../assets/font/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
      src: local('Lato Regular'), local('Lato-Regular'),
      url('../assets/font/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../assets/font/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../assets/font/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('../assets/font/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../assets/font/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
    }
    /* lato-700 - latin */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      src: url('../assets/font/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
      src: local('Lato Bold'), local('Lato-Bold'),
      url('../assets/font/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../assets/font/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
      url('../assets/font/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
      url('../assets/font/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../assets/font/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
    }
  }

  --ion-font-family: 'Lato', sans-serif;

  /** primary **/
  --ion-color-primary: #F2392F;
  --ion-color-primary-rgb: 242, 57, 47;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c03128;
  --ion-color-primary-tint: #ff3c32;

  /** secondary **/
  --ion-color-secondary: #EEA133;
  --ion-color-secondary-rgb: 255, 152, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #dc9133;
  --ion-color-secondary-tint: #ffad35;

  /** tertiary **/
  --ion-color-tertiary: #1F9A4B;
  --ion-color-tertiary-rgb: 31, 154, 75;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #1c843d;
  --ion-color-tertiary-tint: #25bd59;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #1F1A3C;
  --ion-color-dark-rgb: 31, 26, 60;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #111122;
  --ion-color-dark-tint: #291d4a;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #33335e;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #262647;
  --ion-color-light-tint: #444470;

  --ion-color-app-background: #f5f5f5;
  --ion-color-card-background: #ffffff;
  --ion-color-link: #1A0DAB;
  --ion-color-dark-font: #1F1A3C;
  --ion-color-light-font: #ffffff;
  --ion-color-field: #e2e2e2;

  @mixin for-desktop {
    @media (min-width: 1100px) { @content; }
  }

  @mixin for-smaller-screen {
    @media (max-width: 1100px) { @content; }
  }

  .login-card {
    max-width: 350px;
    --background: var(--ion-color-primary-contrast);
    color: var(--ion-color-dark-font);

    @include for-desktop {
      margin: 100px auto auto 100px;
    }
  }

  .home-page-message {
    background-color: rgba(255, 255, 255, 0);
    color: var(--ion-color-light-font);

    @include for-desktop {
      text-align: center;
      position: fixed;
      width: 30em;
      height: 30em;
      top: 100px;
      left: 0;
    }

    @include for-smaller-screen {
      position: fixed;
      margin: 30px auto auto 30px;
    }
  }

  hr {
    width: 100%;
  }

  .input-fields {
    --background: var(--ion-color-field);
    --padding-start: 10px;
    --padding-end: 10px;
    margin-bottom: 10px;
    --border-radius: 0;
  }

  ion-list {
    background: var(--ion-color-app-background);
  }

  ion-content {
    --background: var(--ion-color-app-background);
  }

  ion-card {
    --background: var(--ion-color-card-background);
    border-radius: 0;
    color: var(--ion-color-dark-font);
  }

  .company-logo {
    max-width: 150px;
    margin: auto auto;
    padding: 0;
    display: block;
  }

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    text-align: center;
    color: var(--ion-color-light-font);
  }

  ion-grid {
    color: var(--ion-color-dark-font);
  }

  ion-item {
    color: var(--ion-color-dark-font);
  }

  ion-grid ion-row ion-col {
    padding: 0;
    margin: 0;
  }

  ion-menu {
    border: none;

    @include for-desktop {
      max-width: 200px !important;
    }
  }

  ion-split-pane {
    --border: none;
  }

  .link {
    margin: 6px;
    color: var(--ion-color-link);
    text-decoration: var(--ion-color-link) underline;
  }

  .loading-controller {

    .loading-wrapper {
      background: transparent;
      --spinner-color: var(--ion-color-primary);
      box-shadow: none;
    }
  }

  .is-invalid {
    border: solid 1px var(--ion-color-danger);
  }

  .error-show {
    color: var(--ion-color-danger) !important;
    margin-bottom: 5px;
    text-align: center;
  }
}